.container {
  max-width: 960px;
  margin: 0 auto;
}

body {
  padding: 2rem 0 0 0;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-style: italic;
  color: #d6000d;
}
header h1 span {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-style: normal;
  color: #000;
}

header ul li {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  padding: 0.75rem 0;
  margin: 0 1rem;
}

.btn-login {
  color: #fff;
  background: #d6000d;
  font-weight: bolder;
  border-radius: 10px;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-right: 0;
  cursor: pointer;
}
.btn-login:hover {
  transform: scale(1.1);
}

.orcamento {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.imagem-orcamento {
  width: 40%;
}

.content-orcamento p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.content-orcamento h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 2rem;
  color: #d6000d;
}
.content-orcamento button {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  background: #d6000d;
  font-weight: bolder;
  border-radius: 10px;
  padding: 0.75rem 3rem;
  cursor: pointer;
}

.content-orcamento button:hover {
  transform: scale(1.1);
}

.equipe {
  margin-bottom: 8rem;
}

.lista-imagem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

.lista-imagem ul li {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
}

.imagem-equipe {
  width: 40%;
}

.box-numero {
  margin-left: 5rem;
}

.disposicao {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.numero input {
  font-size: 1.125rem;
  padding: 0.5rem;
  background: #dcdcdc;
  border-radius: 10px;
  height: 2rem;
  margin-right: 0.5rem;
}

.numero button {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 1.12rem;
  background: #d6000d;
  font-weight: bolder;
  border-radius: 10px;
  padding: 0.75rem 3rem;
  cursor: pointer;
}

.numero button:hover {
  transform: scale(1.1);
}

.comentarios {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.box-comentario {
  display: flex;
  margin: 0 auto;
  background-color: #dcdcdc;
  border-radius: 15px;
  padding: 1rem 2rem;
  width: 40%;
}
.bola {
  background: #d6000d;
  border-radius: 50%;
  display: inline-block;
  height: 75px;
  width: 75px;
  margin-right: 1rem;
}
.comentario-content {
  width: 80%;
}
.comentario {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.comentario-name {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  line-height: 2rem;
}
.comentario-job {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: bolder;
}

footer {
  background: #000;
  color: #fff;
  padding: 5rem 0;
}

.content-footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.titulo-site {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-style: italic;
  margin-bottom: 1rem;
}

.subtitulo,
.descricao {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.titulo-footer {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  line-height: 2rem;
  padding-bottom: 1rem;
}

.icons-footer {
  display: flex;
  justify-content: space-around;
}
.icons-footer div:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 960px) {
  .container {
    max-width: 300px;
    margin: 0 auto;
  }
  header div {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  header ul li {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    padding: 0.5rem 0;
    margin: 0.3rem;
  }
  .btn-login {
    color: #fff;
    background: #d6000d;
    font-weight: bolder;
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 0;
    cursor: pointer;
  }
  .orcamento {
    flex-direction: column;
  }
  .imagem-orcamento {
    width: 100%;
    margin-bottom: 5rem;
  }
  .content-orcamento p {
    font-size: 1.125rem;
    text-align: center;
  }
  .content-orcamento h1 {
    text-align: center;
    font-size: 2.5rem;
  }
  .content-orcamento button {
    font-size: 1.125rem;
    padding: 0.75rem 0;
    width: 100%;
  }
  .equipe {
    margin-bottom: 5rem;
  }

  .lista-imagem {
    flex-direction: column-reverse;
    
  }

  .lista-imagem ul li {
    font-size: 1.125rem;
  }

  .imagem-equipe {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .box-numero {
    margin-left: 0rem;
  }

  .disposicao {
    font-size: 1.12rem;
    text-align: center;
  }
  .numero input {
    width: 100%;
    margin-bottom: 1rem;
  }
  .numero button {
    width: 105%;
  }

  .comentarios {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 5rem;
  }
  .box-comentario {
    width: 90%;
    padding: 1rem;
    margin: 0;
    margin-bottom: 1rem;
  }
  .bola {
    height: 50px;
    width: 50px;
  }
  .comentario-content {
    width: 70%;
  }
  .comentario {
    font-size: 1rem;
  }
  .comentario-name {
    font-size: 1.125rem;
  }
  .comentario-job {
    font-size: 1rem;
  }

  .content-footer {
    flex-direction: column;
    align-items:stretch;
  }
  .titulo-site {
    text-align: center;
    align-self: center;
  }
  .subtitulo{
    text-align: center;
  }
  .titulo-footer {
    margin-top: 1rem;
    padding: 0;
  }
  .icons-footer {
    display: flex;
    justify-content: flex-start;
  }
  .icons-footer div{
    margin-right: 1rem;
  }


}
